# Ignore PyCharm settings folder:
.idea

# Ignore python byte-compiled files:
*.pyc

# Ignore generated coverage and test reports and test data:
.coverage*
test-reports
integration-test-reports
tests/integrationtests/*/history.json
repos

# Ignore build folders
dist
quality_report.egg-info/

# Ignore OS specific folders and files
.DS_Store
