# Ignore PyCharm settings folder:
.idea

# Ignore python byte-compiled files:
*.pyc
__pycache__/

# Ignore generated coverage and test reports and test data:
backend/tests/integrationtests/*/*history.json
repos

# Ignore build folders
build
backend/build
dist
quality_report.egg-info
frontend/node_modules
frontend/coverage
backend/hqlib/app/dist
backend/hqlib/app/img
backend/hqlib/app/html

# Ignore OS specific folders and files
.DS_Store
