# Ignore IDE settings folders:
.idea
.vscode

# Ignore Python byte-compiled files:
*.pyc
__pycache__

# Ignore generated coverage and test reports and test data:
frontend/coverage
backend/tests/integrationtests/*/*history.json
repos

# Ignore build folders
build
dist
.mypy_cache
quality_report.egg-info
node_modules
backend/hqlib/app/img
backend/hqlib/app/html
backend/.venv

# Ignore OS specific folders and files
.DS_Store
