include requirements.txt
include hqlib/app/css/*.css
include hqlib/app/css/*.css.map
include hqlib/app/fonts/glyphicons-halflings-regular.*
include hqlib/app/html/*.html
include hqlib/app/img/*.png
include hqlib/app/img/*.ico
include hqlib/app/js/*.js
include hqlib/app/json/*.json
