include requirements.txt
include hqlib/formatting/css/*.css
include hqlib/formatting/css/*.css.map
include hqlib/formatting/fonts/glyphicons-halflings-regular.*
include hqlib/formatting/html/*.html
include hqlib/formatting/img/*.png
include hqlib/formatting/js/*.js
