[run]
branch = True
omit =
    */lib/python*
    tests/integrationtests/test_no_source_ids/missing_project_definition.py
    tests/run_*.py
    tests/*_mocker.py
    tests/test_runner.py
data_file = build/.coverage

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
