# Required Python packages
beautifulsoup4==4.6.0
lxml==4.2.1
python-dateutil==2.7.3
pygal==2.4.0
git+https://github.com/wekan/wekan-python-api-client.git#egg=wekanapi&subdirectory=src

# Development dependencies
setuptools==39.2.0
coverage==4.5.1
xmlrunner==1.7.7
pycodestyle==2.4.0
pylint==1.9.1
