# Required Python packages
beautifulsoup4==4.8.1
lxml==4.4.1
python-dateutil==2.8.1
gitlab==1.0.2
python-gitlab==1.13.0
pygal==2.4.0
git+https://github.com/wekan/wekan-python-api-client.git#egg=wekanapi&subdirectory=src

# Development dependencies
setuptools==42.0.1
coverage==4.5.4
xmlrunner==1.7.7
pycodestyle==2.5.0
pylint==2.4.4
